@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Open+Sans:ital,wght@1,300&family=Playfair+Display:wght@700&family=Poppins:wght@300;400&family=Roboto:wght@300;400;500;700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

html {
  background-color: rgb(239, 239, 239);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login {
  border: none;
  font-size: 18px;
  padding: 0 20px;
  cursor: pointer;
}

.logo {
  height: 120px;
  width: 180px;
  object-fit: cover;
  border-radius: 12%;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  font-size: 18px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.search {
  padding: 10px;
}

.res-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.res-card {
  border-radius: 7px;
  width: 300px;
  height: 400px;
  transition: transform 800ms ease;
  border: 1px solid gray;
  overflow: hidden;
  background-color: white;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 2px 5px 12px;
}

.res-card:hover {
  background-color: white;
  transform: scale(1.1);
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.res-card:hover .res-card-details {
  font-size: 14px;
}

.res-logo {
  object-fit: cover;
  height: 50%;
  width: 100%;
}

.res-name-title {
  color: black;
  font-size: 20px;
  font-weight: bolder;
}

.res-dets-cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-weight: 30px;
  color: rgb(2, 2, 2);
}

.res-name-cuis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.res-card-details {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 5px;
  color: green;
  font-size: 18px;
}

.open {
  color: darkgreen;
}

.closed {
  color: red;
}

.res-cost {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 0, 0);
  font-weight: bolder;
}

.search_res {
  padding: 10px 10px;
  border-radius: 5px;
  margin: 2px;
}

.search_btn {
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-btn {
  color: black;
  margin: 10px;
  padding: 8px 10px;
  border-radius: 2px;
  border: 1px solid black;
  font-size: inherit;
  cursor: pointer;
  transition: transform 500ms ease-in-out;
}

.filter-btn:hover {
  transform: scale(1.1);
}

.shimmer-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.shimmer-card {
  border-radius: 7px;
  width: 300px;
  height: 400px;
  transition: transform 800ms ease;
  background-color: rgb(239, 230, 218);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shimmer-card .shimmer-img {
  width: 100%;
  height: 170px;
}

.shimmer-card .shimmer-title {
  justify-content: center;
  margin-top: 20px;
  height: 15px;
  width: 80%;
}

.shimmer-card .dets_1 {
  margin-top: 40px;
  width: 100%;
  height: 10px;
}

.shimmer-card .dets_2 {
  margin-top: 100px;
  width: 100%;
  height: 10px;
}

/*Animation to Shimmer Component Cards */
.stroke {
  height: 15px;
  background: #777;
}

.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}
