@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&family=Open+Sans:ital,wght@1,300&family=Playfair+Display:wght@700&family=Poppins:wght@300;400&family=Roboto:wght@300;400;500;700&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

html {
  background-color: rgb(239, 239, 239);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 12vh;
  width: 180px;
  object-fit: cover;
  border-radius: 12%;
  mix-blend-mode: color-burn;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  font-size: 18px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.search {
  padding: 10px;
}

.res-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.res-card {
  border-radius: 7px;
  width: 300px;
  height: 400px;
  transition: transform 800ms ease;
  border: 1px solid gray;
  overflow: hidden;
  background-color: white;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 2px 5px 12px;
  position: relative;
}

.res-card:hover {
  background-color: white;
  transform: scale(1.1);
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
}

.res-card:hover .res-card-details {
  font-size: 14px;
}

.res-logo {
  object-fit: cover;
  height: 50%;
  width: 100%;
}

.res-name-title {
  color: black;
  font-size: 20px;
  font-weight: bolder;
}

.res-dets-cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-weight: 30px;
  color: rgb(2, 2, 2);
}

.res-name-cuis {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.res-card-details {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  color: green;
  font-size: 18px;
}

.open {
  color: darkgreen;
}

.closed {
  color: red;
}

.res-cost {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 0, 0);
  font-weight: bolder;
}

.search_res {
  padding: 10px 10px;
  border-radius: 5px;
  margin: 2px;
}

.search_btn {
  padding: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-btn {
  color: black;
  margin: 10px;
  padding: 8px 10px;
  border-radius: 2px;
  border: 1px solid black;
  font-size: inherit;
  cursor: pointer;
  transition: transform 500ms ease-in-out;
}

.filter-btn:hover {
  transform: scale(1.1);
}

.shimmer-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}

.shimmer-card {
  border-radius: 7px;
  width: 300px;
  height: 400px;
  transition: transform 800ms ease;
  background-color: rgb(239, 230, 218);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.shimmer-card .shimmer-img {
  width: 100%;
  height: 170px;
}

.shimmer-card .shimmer-title {
  justify-content: center;
  margin-top: 20px;
  height: 15px;
  width: 80%;
}

.shimmer-card .dets_1 {
  margin-top: 40px;
  width: 100%;
  height: 10px;
}

.shimmer-card .dets_2 {
  margin-top: 100px;
  width: 100%;
  height: 10px;
}

/*Animation to Shimmer Component Cards */
.stroke {
  height: 15px;
  background: #777;
}

.animate {
  animation: shimmer 3s;
  animation-iteration-count: infinite;
  background: linear-gradient(to right, #e6e6e6 5%, #cccccc 25%, #e6e6e6 35%);
  background-size: 1000px 100%;
}

/* ABOUT */
.about-container {
  display: flex;
  flex-direction: row;
  height: 65vh;
  margin: 50px;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
    0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
    0 32px 16px rgba(0, 0, 0, 0.09);
}

.about-left {
  background-color: #eadede;
  border: 1px solid black;
  height: 100%;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-right {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 50vw;
}

.about_image {
  height: 60%;
  width: 70%;
  border-radius: 6%;
  transition: transform 500ms ease-in-out;
}

.about_image:hover {
  transform: scale(1.1);
}

.about-right .text_1 {
  color: #545454;
  padding: 2px 15px;
  display: block;
  font-size: 50px;

  font-weight: bolder;
}
.about-right .text_2 {
  color: #545454;
  padding: 2px 15px;

  font-size: 40px;
  display: block;
  font-weight: bolder;
}

.about-right .text_3 {
  background-color: #d97919;
  color: #eaeaea;
  padding: 2px 15px;
  font-size: 40px;

  border-radius: 15px;
  display: block;
  font-weight: bolder;
}

.about-right .text_4 {
  position: absolute;
  bottom: 5;
  color: rgb(18, 16, 16);
  padding: 2px 15px;
  border-radius: 5px;
  display: block;
  font-size: 20px;
  font-weight: bolder;
}

.error-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.error-image {
  object-fit: cover;
}

.error-container > h1 {
  font-size: 34px;
  font-weight: bolder;
}

.error-container > h2 {
  font-size: 22px;
}

ul li a {
  text-decoration: none;
}

ul li a.active {
  color: red;
}

.login {
  border: none;
  font-size: 20px;
  padding: 0 20px;
  cursor: pointer;
  color: green !important;
}

.menu-header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  height: 20vh;
  background-color: rgb(72, 69, 69);
  color: wheat;
  border: 1px solid black;
  font-size: 20px;
}

.res-menu-img {
  height: 130px;
  width: 160px;
  border-radius: 20px;
  object-fit: cover;
  margin-right: 30px;
  font-size: 30px;
}

.res-menu-abbr-dets {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.shimmer-card {
  flex-basis: 250px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.shimmer-title {
  width: 60%;
  margin-top: 10px;
}

.shimmer-tags {
  width: 80%;
  margin-top: 4px;
}

.shimmer-details {
  width: 100%;
  margin-top: 18px;
}

.shimmer-container .shimmer-img {
  height: 144px;
  width: 230px;
}
/*Shimmer Card CSS End*/

/* Shimmer Menu Card CSS Start */

.restaurant-summary .shimmer-img {
  height: 144px;
  width: 230px;
}

.shimmer-menu-card {
  display: flex;
  justify-content: space-evenly;
  width: 848px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: #d3d5df;
  box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
}

.shimmer-item-details {
  width: 438px;
}

.shimmer-img-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 118px;
  height: 150px;
}

.shimmer-img-wrapper .shimmer-img {
  width: 118px;
  height: 96px;
}

.shimmer-img-wrapper .shimmer-btn {
  width: 94px;
  height: 34px;
  margin-top: 10px;
}

.shimmer-w60 {
  width: 60%;
  margin-top: 10px;
}

.shimmer-w40 {
  width: 40%;
  margin-top: 10px;
}

.shimmer-w20 {
  width: 20%;
  margin-top: 4px;
}

a {
  text-decoration: none;
}

.actual-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.each-item {
  border: 1px solid black;
  height: 150px;
  width: 40vw;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.menu-item-left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  font-weight: bolder;
}

.menu-item-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item-img {
  position: absolute;
  right: 50;
  height: 100px;
  width: 120px;
  object-fit: cover;
}

.user-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.user-name {
  font-size: 20px;
  color: black;
  font-weight: bolder;
}

.user-location {
  font-size: 20px;
  color: black;
  font-weight: bolder;
}

.user-contact {
  font-size: 20px;
  color: black;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-contact-btn {
  padding: 3px;
  border: none;
  border-radius: 5px;
  background: inherit;
  cursor: pointer;
  color: black;
}

.git-container {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 10px;
  cursor: pointer;
}

.git-btn {
  border: none;
  padding: 5px;
  background-color: inherit;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid beige;
  transition: all 300ms ease-in-out;
  border-radius: 2px;
}

.git-btn:hover {
  background: wheat;
  color: black;
}
